<div class='reset-password'>
    <p>Enter New Password</p>
    <form>
        <input type="password" id="password" name="password" placeholder="New Password" required autofocus><br><br>
        <button class="button">Reset</button>
        <br>
    </form>
</div>